<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Muscic App!</h1>
    <p>
      To activate your account, please click the following the link: <%= link_to("Activate your account!", @url) %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
